input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;

    &:focus {
        outline: none;

        &::-ms-fill-lower {
            background: #3071a9;
        }
        
        &::-ms-fill-upper {
            background: #367ebd;
        }

        &::-webkit-slider-runnable-track {
            background: #367ebd;
        }
    }

    &::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    &::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    &::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    &::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -14px;
    }
}

.slider {
    width: 100%;
    cursor: pointer;

    &-container {
        grid-area: slider;
        margin-top: 2rem;
        padding: 2rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            text-align: center;
        }
    }
}

.custom-file-input {
    &:active {
        &::before {
            background: -webkit-linear-gradient(to bottom, #e3e3e3, #f9f9f9);
        }
    }

    &::before {
        content: 'Select a file';
        display: inline-block;
        background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 400;
        font-size: 10pt;
        padding: 5px 5px;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    &:hover {
        &::before {
            border-color: black;
            background-color: red;
            color: #fff;
        }
    }

    &::-webkit-file-upload-button {
        margin-top: 1rem;
        visibility: hidden;
    }
}
